<div class="row">  
  <div class="col-md-4">
    <div class="profile">
      <%= form_for profile, url: profile_path do |p| %>
        <div class="profile-header">
          <h3>
            <%= user.email %>
            <span class="pull-right">
              <%= p.submit "Update Biography", class: "btn btn-default" %>
            </span>
          </h3>
        </div>
        <div class="profile-element">
          <h4>
            Name
          </h4>
          <div class="form-group">
            <%= p.text_field :name, class: "form-control" %>
          </div>
        </div>
        <div class="profile-element">
          <h4>
            Location
          </h4>
          <div class="form-group">
            <%= p.text_field :location, class: "form-control" %>
          </div>
        </div>
        <div class="profile-element last-element">
          <h4>
            Biography
          </h4>
          <div class="form-group">
            <%= p.text_area :bio, class: "form-control" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>