<section class="profile">
  <%= form_for profile, url: profile_path do |p| %>
    <fieldset class="form-group">
      <%= p.label :name, "Your Name" %>
      <%= p.text_field :name, placeholder: "Matthew Short" %>
    </fieldset>
    <fieldset class="form-group">
      <%= p.label :location, "Location" %>
      <%= p.text_field :location, placeholder: "Brooklyn, NY" %>
    </fieldset>
    <fieldset class="form-group">
      <%= p.label :bio, "Biography" %>
      <%= p.text_field :bio, placeholder: "I <3 books!  I want >3 books!" %>
    </fieldset>
    <%= submit_tag "Search" %>
  <% end %>
</section>