<section class="profile">
  <%= form_for profile, url: profile_path do |p| %>
    <fieldset class="form-group">
      <%= p.label :name, "Name" %>
      <%= p.text_field :name, placeholder: "Jane Doe" %>
    </fieldset>
    <fieldset class="form-group">
      <%= p.label :location, "Location" %>
      <%= p.text_field :location, placeholder: "e.g. A. A. Milne" %>
    </fieldset>
    <fieldset class="form-group">
      <%= p.label :bio, "Biography" %>
      <%= p.text_field :bio, placeholder: "e.g. A. A. Milne" %>
    </fieldset>
    <%= submit_tag "Search" %>
  <% end %>
</section>