<div class="row">
  <div class="col-md-6">
    <%= form_for @profile, url: profile_path do |p| %>
      <div class="form-group">
        <%= p.label "Name" %>
        <%= p.text_field :name, class: "form-control" %>
      </div>
  
      <div class="form-group">
        <%= p.label "Location" %>
        <%= p.text_field :location, class: "form-control" %>
      </div>
  
      <div class="form-group">
        <%= p.label "Biography" %>
        <%= p.text_area :bio, class: "form-control" %>
      </div>
      
      <%= p.submit "Update Biography" %>
    <% end %>
  </div>
</div>