<section class="profile">
  <h5>
    <%= user.email %>
    <% if user == current_user %>
      <span class="right">
        <%= link_to "Edit", edit_profile_url %>
      </span>
    <% else %>
      <span class="right">
        <i class="fa fa-star <%= star_class(user) %>" data-id="<%= user.id %>"></i>
      </span>
    <% end %>
  </h5>
  <div class="profile-element">
    <h4>
      Name
    </h4>
    <p>
       <%= profile_display profile.name %>
    </p>
  </div>
  <div class="profile-element">
    <h4>
      Location
    </h4>
    <p>
      <%= profile_display profile.location %>
    </p>
  </div>
  <div class="profile-element last-element">
    <h4>
      Biography
    </h4>
    <p>
      <%= profile_display profile.bio %>
  </div>
</section>

