<section class="search">
  <%= form_tag book_search_url do %>
    <fieldset class="form-group">
      <%= label_tag :title, "Book title" %>
      <%= text_field_tag :title, nil, placeholder: "e.g. Winnie-the-Pooh" %>
    </fieldset>
    <fieldset class="form-group">
      <%= label_tag :author, "Book title" %>
      <%= text_field_tag :author, nil, placeholder: "e.g. A. A. Milne" %>
    </fieldset>
    <%= submit_tag :search, { class: "btn btn-large btn-default"} %>
  <% end %>
</section>