<section class="authentication">
  <h1>
    Sign into your account
  </h1>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <fieldset class="form-group">
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true %>
    </fieldset>
    <fieldset class="form-group">
      <%= f.label :password %>
      <%= f.password_field :password, autocomplete: "off" %>
    </fieldset>
    
    <div class="clearfix">
      <% if devise_mapping.rememberable? -%>
        <fieldset class="form-group right">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me do %>
            <i class="fa fa-check"></i> Remember Me
          <% end %>
        </fieldset>
      <% end -%>

      <div class="actions left">
        <%= f.submit "Sign in" %>
      </div>
    </div>
  <% end %>
</section>